/* 设置窗口背景 */
QWidget #wgt_basicSetting,#wgt_colorSetting,#wgt_radarBD,#wgt_dylb,#wgt_obs, #wgt_dataShow, #ReplayWindow {
    background-color: rgb(13, 20, 71);
}

QWidget #wgt_top {
    border-image: url(:/images/top.png);
}

QComboBox {
    border: none;
    background: transparent;
    border-image: url(:/images/combo_normal.png); /* 默认背景 */
}

QComboBox::drop-down {
    border: none;
    background: transparent;
    width: 20px;
}

QComboBox::down-arrow {
    image: url(:/images/arrow_down.png); /* 下拉箭头 */
    width: 12px;
    height: 12px;
}

QComboBox QAbstractItemView {
    border-image: url(:/images/arrowdown_background.png); /* 下拉菜单背景 */
    border: 1px solid gray;
    selection-background-color: lightblue; /* 选中项颜色 */
}

QPushButton {
    background: transparent;  /* 背景透明 */
    border: 1px solid #25B6FF;  /* 2px 宽的蓝色边框 */
    border-radius: 5px;  /* 圆角边框 */
}

/* 鼠标悬停时修改背景 */
QPushButton:hover{
    background: url(:/images/button_default.png); /* 替换为你的背景图片路径 */
}

/* 按钮被点击时修改背景 */
QPushButton:pressed {
    background: url(:/images/button_checked.png); /* 替换为你的背景图片路径 */
    border-image: url(:/images/button_line_hover.png); /* 替换为你的背景图片路径 */
}

QLineEdit {
    border: none; /* 去除边框 */
    border-image: url(:/images/linedit_param.png) 0 0 0 0 stretch stretch;
}

QCheckBox::indicator:unchecked {
    border-image: url(:/images/checkbox_normal.png); /* 未选中状态的图片 */
}

QCheckBox::indicator:checked {
    border-image: url(:/images/checkbox_checked.png); /* 选中状态的图片 */
}

#label, #label_6, #label_9, #label_23 {
    border-image: url(:/images/tittle_background.png) stretch;
}

QTableView {
    background-color: rgb(24, 36, 95);
    gridline-color: gray; /* 网格线颜色 */
}
QHeaderView::section {
    background-color: rgb(24, 36, 95); /* 表头背景颜色 */
}
QTableView::item {
    border: 1px dashed gray; /* 设置单元格的边框为灰色虚线 */
}

QMessageBox {
    background-color: rgb(13, 20, 71);
    background-repeat: no-repeat;
    background-position: center;
 }

QMessageBox::title { background-color: blue; color: white;}

QSpinBox, QDoubleSpinBox {
    border: none;
    background: transparent;
    border-image: url(:/images/combo_normal.png); /* 默认背景 */
}

QListWidget {
    border: none;
    background: transparent;
    border-image: url(:/images/combo_normal.png);
}

QMenu {
    border: none;
    background: transparent;
    border-image: url(:/images/combo_normal.png);
}

QMenu::item:selected {
    background-color: #0078d7;
    color: white;
}

QDialog {
    border: none;
    background: transparent;
    border-image: url(:/images/background.png);
}

